<!DOCTYPE html>
<html ng-app="StarterApp">
  <head>
    <title>#Хэштегер</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <meta name="description" content="Хэштегер помогает преобразовать набор слов в хэштеги" />
    <meta property="og:title" content="Хэштегер" />
    <meta property="og:description" content="Преобразует набор слов в хэштеги"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.hashtager.pro" />
    <meta property="og:image" content="logo.png" />
    <link rel="stylesheet" href="css/angular-material.css">
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/packs/brands.min.js"></script>
    <script defer src="js/packs/regular.min.js"></script>
    <script defer src="js/packs/solid.min.js"></script>
    <script defer src="js/packs/light.min.js"></script>
    <script defer src="js/fontawesome.js"></script>
  </head>
  <body ng-cloak layout="column" layout-fill>

    <div flex>
      <header>
        <md-toolbar class="md-hue-2" ng-controller="MenuCtrl">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()"
              ng-hide="isOpenLeft()">
              <i class="fal fa-bars" style="font-size:24px; color: #fff;"></i>
            </md-button>
            <h2 ui-sref="index" md-truncate style="color: #fff; font-size: 24px; cursor: pointer">#Хэштегер
            </h2>
            <span flex></span>
          </div>
        </md-toolbar>

        <div ng-controller="LeftCtrl">
          <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-swipe-left="close();">
            <md-toolbar class="md-theme-light" layout="row">
              <div style="align-self: center;">
              </div>
            </md-toolbar>
            <md-content layout-padding>
              <div layout="column">
                <div class="layout-align-start-center layout-row" ui-sref="index" ng-click="close();" style="border-bottom: solid 1px;">
                  <h3 style="cursor: pointer; padding-left: 1em;">Главная</h3>
                </div>
                <div class="layout-align-start-center layout-row" ui-sref="advertising" ng-click="close();" style="border-bottom: solid 1px;">
                  <h3 style="cursor: pointer; padding-left: 1em;">По вопросам рекламы</h3>
                </div>
              </div>
            </md-content>
          </md-sidenav>
        </div>
      </header>

      <main class='md-padding' layout="row" flex style="min-height: 100vh;">
          <md-content flex ui-view ></md-content>
      </main>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-messages.min.js"></script>
    <script src="js/angular-material.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="js/ngclipboard.min.js"></script>
    <script src="js/app.js"></script>
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter49100785 = new Ya.Metrika2({ id:49100785, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/49100785" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
  </body>
</html>
